[Unit]
Description=Auto-update daemon

[Service]
EnvironmentFile={{PWD}}/data/auto-update/.env
ExecStart={{PWD}}/scripts/auto-update/.venv/bin/python {{PWD}}/scripts/auto-update/main.py
User={{USER}}

[Install]
WantedBy=multi-user.target
